/Work

/Processor/Project/Verilator/obj_dir
/Processor/Project/ModelSim
/Processor/Project/Vivado/TargetBoards/Zedboard/rsd
/Processor/Project/Vivado/TargetBoards/Zedboard/rsd_post_synthesis
/Processor/Project/Vivado/TargetBoards/Zedboard/*.v
/Processor/Project/Vivado/TargetBoards/Zedboard/NA/
/Processor/Project/Vivado/TargetBoards/Zedboard/.Xil/
/Processor/Project/Synplify/Zedboard
/Processor/Project/Synplify/Zedboard_post_synthesis
/Processor/Project/Synplify/Microsemi

/Processor/Project/DesignCompiler/*.svf
/Processor/Project/DesignCompiler/*.ddc
/Processor/Project/DesignCompiler/work/


# Coremark/Drhystone/Zephyr 関係は RSD-env からコピー
/Processor/Src/Verification/TestCode/Coremark/Coremark/*
/Processor/Src/Verification/TestCode/Coremark/Coremark_for_RV32I/*
/Processor/Src/Verification/TestCode/Coremark/Coremark_for_Synthesis/*

/Processor/Src/Verification/TestCode/Dhrystone/*
!/Processor/Src/Verification/TestCode/Dhrystone/Makefile

/Processor/Src/Verification/TestCode/Zephyr/*
!/Processor/Src/Verification/TestCode/Zephyr/Makefile

/Processor/Src/Verification/TestCode/riscv-compliance/*
!/Processor/Src/Verification/TestCode/riscv-compliance/Makefile

/Processor/Src/*.log
/Processor/Src/*.txt
/Processor/Src/*.csv
/Processor/Src/*.vcd
/Processor/Src/wlft*

transcript
vsim.wlf
*.vstf
wave.do
/Processor/Src/.Xil
synlog.tcl

/Processor/Src/Verification/TestCode/C/*/reg.out.hex
/Processor/Src/Verification/TestCode/C/*/serial.out.txt
/Processor/Src/Verification/TestCode/Asm/*/reg.out.hex
/Processor/Src/Verification/TestCode/Asm/*/serial.out.txt

/Processor/Tools/QEMU_SimDriver/GDB_CommandFile

/Processor/Tools/SetEnv/MySetEnv.bat
/Processor/Tools/SetEnv/MySetEnv.sh

*.pyc
*.log
*.o
*.bin
*.dump
*.touch
*.elf

*.stackdump

vivado*jou
vivado*zip
vivado*str
vivado*log

modelsim.ini

hs*.dmp
*.sublime-project
*.sublime-workspace

/.settings
/.library_mapping.xml
/.project
/.history
/.vscode/

Processor/Project/Synplify/*.prd

/Processor/Src/Verification/TestCode/C/ServoTask/