/Work

/Processor/Project/Verilator/obj_dir
/Processor/Project/ModelSim
/Processor/Project/Zedboard/Vivado/rsd_zedboard
/Processor/Project/Zedboard/Vivado/rsd_post_synthesis
/Processor/Project/Zedboard/Vivado/rsd
/Processor/Project/Zedboard/Vivado/*.v
/Processor/Project/Zedboard/Synplify/rev_1
/Processor/Project/Zedboard/Synplify/post_synthesis
/Processor/Project/Vivado/Zedboard/rsd
/Processor/Project/Vivado/Zedboard/rsd_post_synthesis
/Processor/Project/Vivado/Zedboard/*.v
/Processor/Project/Synplify/Zedboard
/Processor/Project/Synplify/Zedboard_post_synthesis
/Processor/Project/Synplify/Microsemi
/Processor/Project/Synplify/*.prd

/Processor/Project/DesignCompiler/*.svf
/Processor/Project/DesignCompiler/*.ddc
/Processor/Project/DesignCompiler/work/


# Coremark/Drhystone/Zephyr 関係は RSD-env からコピー
/Processor/Src/Verification/TestCode/Coremark/Coremark/*
/Processor/Src/Verification/TestCode/Coremark/Coremark_for_RV32I/*
/Processor/Src/Verification/TestCode/Coremark/Coremark_for_Synthesis/*

/Processor/Src/Verification/TestCode/Dhrystone/*
!/Processor/Src/Verification/TestCode/Dhrystone/Makefile

/Processor/Src/Verification/TestCode/Zephyr/*
!/Processor/Src/Verification/TestCode/Zephyr/Makefile

# riscv-compliance
/Processor/ThirdParty/TestTargets/riscv-compliance/work


/Processor/Src/*.log
/Processor/Src/*.txt
/Processor/Src/*.csv
/Processor/Src/*.vcd
/Processor/Src/wlft*
/Processor/Src/.Xil

/Processor/Src/Verification/TestCode/C/*/reg.out.hex
/Processor/Src/Verification/TestCode/C/*/serial.out.txt
/Processor/Src/Verification/TestCode/Asm/*/reg.out.hex
/Processor/Src/Verification/TestCode/Asm/*/serial.out.txt


/Processor/Tools/QEMU_SimDriver/GDB_CommandFile

# Env
/Processor/Tools/SetEnv/*.bat
/Processor/Tools/SetEnv/*.sh
!/Processor/Tools/SetEnv/SetEnv.bat
!/Processor/Tools/SetEnv/SetEnv.sh

# Modelsim/Questa
wave.do
synlog.tcl
transcript
vsim.wlf
modelsim.ini

# Vivado
vivado*.jou
vivado*.zip
vivado*.str

# Miscellaneous
*.vstf
*.pyc
*.log
*.o
*.bin
*.dump
*.touch
*.elf
*.stackdump

# Editor/IDE
hs*.dmp
*.sublime-project
*.sublime-workspace

/.settings
/.library_mapping.xml
/.project

